
.so-dashboard {

	font-family: Helvetica, Arial, sans-serif !important;

	background-color: #f1f1f1;
	border: 0px #dddddd solid;
	padding: 10px;
	overflow: hidden;

	.section-heading {
		margin-bottom: 10px;
		margin-top: 10px;
	}

	.section-title {
		padding: 10px;
		padding-left: 20px;
		font-size: 24px;
		display: inline-block;
		background-color: #ffffff;
		color: #333333;
		border-left: 8px #00b38a solid;
	}

	.circle-section {
		display: flex;
	}

	.circle-panel {
		width: calc(50% - 95px);
		background-color: #f1f1f1;
		border-left: 1px #ffffff solid;
		border-right: 1px #e1e1e1 solid;
		border-top: 1px #ffffff solid;
		border-bottom: 1px #e1e1e1 solid;
		display: flex;
		padding: 10px;

		.circle-field {
			position: relative;
			margin-left: 10px;
			border-top: 1px #e5e5e5 solid;
			border-left: 1px #e5e5e5 solid;
			border-bottom: 1px #ffffff solid;
			border-right: 1px #ffffff solid;
			background-color: #fafafa;
			flex: 1;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		&:nth-child(2) {
			width: 190px;
		}

		&:nth-child(3) {
			flex-direction:row-reverse;

			.circle-field {
				margin-left: 0;
				margin-right: 10px;
			}
		}

		.circle-count {
			font-size: 45px;
			font-weight: bold;
		}
	}
}

.so-flex {
    display: flex;
    margin-bottom: 15px;

    .so-board {
		display: flex;
        background-color: #ffffff;
		padding: 20px;
		padding-left: 0;
        width: 33.3%;
		margin: 0 20px 0 0;

		&.area-chart-container {
			padding: 0;
		}

		#chart-3 {
			width: 100%;
		}

        &:last-child {
            margin: 0;
		}
		
		.board-field {
			display: flex;
			width: 50%;

			&.left {
				padding-top: 20px;
				justify-content: center;
				align-items: center;
				width: 56%;
			}

			&.right {
				flex-direction: column;
				justify-content: space-between;
				align-items: center;
				align-content: center;
				width: 44%;
			}

			.heading {
				color: rgb(55, 61, 63);
				font-size: 16px;
			}

			&.icon {
				font-size: 70px;
				height: 150px;
				padding: 0;
			}

			&.icon-1 {
				color: #008ffb;
			}

			&.icon-2 {
				color: #008ffb;
			}

			&.icon-3 {
				color: #00e396;
			}

			.nums {
				font-size: 48px;
				font-weight: bold;
				color: #222222;
			}

			.note {
				color: #888888;
				padding: 3px 5px;
				font-style: italic;
				align-self: flex-end;
			}
		}
    }
}

.so-tabs {
	background-color: #e1e1e1;
	border-top: 1px #d1d1d1 solid;
	border-left: 1px #d1d1d1 solid;
	border-right: 1px #ffffff solid;
	border-bottom: 1px #ffffff solid;
	margin: 0 0 15px 0;
	padding: 10px;

	ul, li {
		list-style-type: none;
		padding: 0;
		margin: 0;
	}

	li {
		display: inline-block;

		&.is-active {
			a {
				background-color: #008ffb;
				color: #ffffff;
			}
		}

		a {
			text-decoration: none;
			background-color: #f1f1f1;
			padding: 5px 15px;
			margin: 5px 5px;
			border: 1px #dddddd solid;
			color: #666666;

			&:hover {
				background-color: #008ffb;
				color: #ffffff;
			}
		}
	}
}

@keyframes lds-ripple {
	0% {
		top: 94px;
		left: 94px;
		width: 0;
		height: 0;
		opacity: 1;
	}
	100% {
		top: 17px;
		left: 17px;
		width: 154px;
		height: 154px;
		opacity: 0;
	}
}
@-webkit-keyframes lds-ripple {
	0% {
		top: 94px;
		left: 94px;
		width: 0;
		height: 0;
		opacity: 1;
	}
	100% {
		top: 17px;
		left: 17px;
		width: 154px;
		height: 154px;
		opacity: 0;
	}
}

.so-text-warning {
	color: #ffc64d;
	margin-left: 10px;
}

.so-text-danger {
	color: #df1c1c;
	margin-left: 10px;
}

.lds-css {
	text-align: center;
}
.lds-ripple {
	position: relative;
	display: inline-block;
	width: 200px !important;
	height: 200px !important;
	-webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
	transform: translate(-100px, -100px) scale(1) translate(100px, 100px);

	div {
		box-sizing: content-box;
		position: absolute;
		border-width: 6px;
		border-style: solid;
		opacity: 1;
		border-radius: 50%;
		-webkit-animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
		animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;

		&:nth-child(1) {
			border-color: #008ffb;
		}

		&:nth-child(2) {
			border-color: #00e396;
			-webkit-animation-delay: -0.5s;
			animation-delay: -0.5s;
		}
	}
}

.so-rule-form {
	input, select {
		height: 28px;
		line-height: 28px;
		vertical-align: middle;
		font-size: 13px;
	}

	.regular-text {
		width: 250px;
	}
}
