
.so-sidebar-menu {

	background-color: #333333;
	color: #ffffff;
	min-height: calc(100vh - 60px);
	overflow: hidden;
	padding: 0;

	i {
		background-color: #ffffff;
		color: #00b38a;
		width: 26px;
		height: 26px;
		line-height: 26px;
		text-align: center;
		border-radius: 50%;
		font-size: 18px;
		margin-right: 15px;
    }
}

.nav {
	&.parent-menu > li {
		position: relative;
		display: block;
		cursor: pointer;
		> a {
			text-decoration: none;

			&:hover {
				color: #F2F5F7 !important;
				background: transparent;
				text-decoration: none;
			}
		}
	}
	> li > a:focus {
		text-decoration: none;
		background: transparent;
	}

	&.parent-menu > li > a {
		color: #E7E7E7;
		font-weight: 500;
	}

	&.child-menu {

		display: none;
		li {

			position: relative;

			&:hover {
				background-color: rgba(255, 255, 255, 0.06);
			}

			&.active {

				a {
					color: #ffffff;
					position: relative;

					&:before {
						content: '';
						display: block;
						position: absolute;
						right: 10px;
						top: 17px;
						width: 0; 
						height: 0; 
						border-top: 7px solid transparent;
						border-bottom: 7px solid transparent; 
						border-right: 7px solid #f1f1f1; 
					}
				}
			}

			padding-left: 36px;
		}

		> li > a {
			color: #E7E7E7;
			text-decoration: none;
			font-weight: 500;
		}
		li li {
			&:hover, &.active {
				background: none;
			}
			a {
				&:hover, &.active {
					color: #fff;
				}
			}
		}
	}
	> li > a {
		position: relative;
		display: block;
		padding: 13px 15px 12px;
	}
	&.parent-menu > li {
		border-left: 5px solid #444444;

		&.current-page, &.active {
			border-left: 5px solid #1ABB9C;
		}

		&.active {
			.child-menu {
				display: block;
			}
		}
	}
	li {
		&.current-page {
			background: rgba(255, 255, 255, 0.05);
		}
		li {
			li.current-page {
				background: none;
			}
			&.current-page a {
				color: #fff;
			}
		}
	}
	&.parent-menu > li.active > a,
	&.parent-menu > li.current-page > a {
		text-shadow: rgba(0, 0, 0, 0.25) 0 -1px 0;
		background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #555555), color-stop(100%, #444444)), #666666;
		background: -webkit-linear-gradient(#353535, rgb(63, 63, 63)), rgb(83, 83, 83);
		background: -moz-linear-gradient(#353535, rgb(63, 63, 63)), rgb(83, 83, 83);
		background: linear-gradient(353535, rgb(63, 63, 63)), rgb(83, 83, 83);
		-webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 1px 0, inset rgba(255, 255, 255, 0.16) 0 1px 0;
		-moz-box-shadow: rgba(0, 0, 0, 0.25) 0 1px 0, inset rgba(255, 255, 255, 0.16) 0 1px 0;
		box-shadow: rgba(0, 0, 0, 0.25) 0 1px 0, inset rgba(255, 255, 255, 0.16) 0 1px 0;
	}
}