body {
	background-color: #f1f1f1;
	font-size: 13px;
}

.shieldon-info-bar {
	clear: both;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #ffffff;

	.version-info {
		margin-right: 20px;
		padding: 10px;
		background-color: rgba(255, 255, 255, 0);
	}

	.logo-info {
		img {
			height: 60px;
		}
	}

	a {
		text-decoration: none;
		margin-right: 10px;
	}
}

code.tips {
	border-left: 5px #dddddd solid;
	border-radius: 3px;
	margin-top: 10px;
	display: inline-block;
	overflow: hidden;
	background-color: #ffffff;
	padding: 10px;
}

.so-databable-heading {
	margin: 20px 0 20px;
	font-weight: bold;
	border-left: 9px #00b38a solid;
	padding-left: 15px;
	font-size: 22px;
}

.so-datatable-description {
	font-size: 13px;
	font-weight: normal;
	color: #91b4a8;
	margin-bottom: 20px;
}

.merged-field {
	border-left: 1px #ffffff solid;
	border-bottom: 0 !important;
	font-size: 12px !important;
	font-weight: 400 !important;
	text-align: center;
}

.so-timezone {
	padding: 10px;
	text-align: right;
	font-size: 12px;
	color: #999999;
}

.so-sidebar-menu {
	background-color: #333333;
	color: #ffffff;
	min-height: calc(100vh - 60px);
	overflow: hidden;
	padding: 0;

	.section-title {
		margin-top: 25px;
		margin-bottom: 10px;
	}

	a {
		color: #ffffff;
		padding-left: 30px;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.nav-item {
		padding: 0 0 0 10px;

		a {
			&:hover {
				background-color: #222;
			}
		}

		&.active {

			a {
				color: #333333;
				font-weight: bold;
				background-color: #f1f1f1;
				position: relative;

				&:hover {
					color: #222222;
				}

				&:before {
					display: inline-block;
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					border-color: transparent;
					border-style: solid;
					border-width: 3px;
					border-left-color: #333;
					border-top-color: #333;
				}
			}
		}
	}

	i {
		background-color: #ffffff;
		color: #00b38a;
		width: 26px;
		height: 26px;
		line-height: 26px;
		text-align: center;
		border-radius: 50%;
		font-size: 18px;
		margin-right: 15px;
	}
}

.so-content {
	padding: 0;
	border-top: 1px #dddddd solid;
	border-left: 1px #f1f1f1 solid;
}




@import "dashboard";
@import "datatable";