body {
	background-color: #f1f1f1;
	font-size: 13px;
}

.shieldon-info-bar {
	clear: both;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #ffffff;

	.version-info {
		margin-right: 20px;
		padding: 10px;
		background-color: rgba(255, 255, 255, 0);
	}

	.logo-info {
		img {
			height: 60px;
		}
	}

	a {
		text-decoration: none;
		margin-right: 10px;
	}
}

code.tips {
	border-left: 5px #dddddd solid;
	border-radius: 3px;
	margin-top: 10px;
	display: inline-block;
	overflow: hidden;
	background-color: #ffffff;
	padding: 10px;
}

.so-datatable-heading {
	margin: 20px 0 20px;
	font-weight: bold;
	border-left: 9px #00b38a solid;
	padding-left: 15px;
	font-size: 24px;

	.heading-right {
		font-size: 13px;
		float: right;
		font-weight: normal;
		margin-top: 8px;

		span {
			color: #aaaaaa;
			padding: 3px 5px;
		}

		strong {
			font-weight: bold;
			padding: 3px 8px;
			border: 1px #dddddd solid;
			font-weight: normal;
		}

		ul {
			list-style: none;
		}

		li {
			float: left;
			margin-left: 16px;
		}
	}
}

.so-datatable-description {
	font-size: 13px;
	font-weight: normal;
	color: #91b4a8;
	margin-bottom: 20px;
}

.merged-field {
	border-left: 1px #ffffff solid;
	border-bottom: 0 !important;
	font-size: 12px !important;
	font-weight: 400 !important;
	text-align: center;
}

.so-timezone {
	padding: 10px;
	text-align: right;
	font-size: 12px;
	color: #999999;
}

.so-content {
	padding: 0;
	border-top: 1px #dddddd solid;
	border-left: 1px #f1f1f1 solid;
}

.mode-info {
	float: right;
	margin-right: 10px;

	ul {
		list-style: none;
		padding: 0;
		margin: 0;

		li {
			float: left;
			margin-right: 10px;
		}
	}
}

.so-dashboard {
	.col-sm-4, .col-sm-3 {
		padding-bottom: 20px;
	}

	&.data-circle {
		.filter-status {
			border: 0px #dddddd solid;

			.heading {
				color: rgb(55, 61, 63);
				font-size: 15px;
				font-weight: bold;
			}
		}
	}
}

.filter-status {
	position: relative;
	text-align: center;
	border-top: 2px #dddddd solid;
	border-left: 1px #dddddd solid;
	border-right: 1px #eeeeee solid;
	border-bottom: 1px #eeeeee solid;
	background: rgba(255, 255, 255, 1);
	background-image: radial-gradient(#ddd 1%, transparent 15%);
	background-size: 8px 8px;
	padding: 10px;
	height: 100%;

	&.info-box {

		table {
			background-color: #ffffff;
			margin-top: 10px;
			
			td {
				text-align: left;
			}
		}
	}

	.heading {
		color: rgb(55, 61, 63);
		font-size: 18px;
		font-weight: bold;
	}

	.nums {
		font-size: 38px;
		font-weight: bold;
		color: #222222;
	}

	.note {
		color: #888888;
		padding: 3px 5px;
		font-style: italic;
		align-self: flex-end;
	}

	.note-code, .note-document {
		position: absolute;
		top: 0;
		display: inline-block;
		height: 25px;
		line-height: 25px;
		text-align: center;
		font-size: 15px;
		cursor: pointer;
		color: #777777;
		background: none;
		border: 0;
		overflow: hidden;

		&:hover {
			color: #000;
		}
	}

	.note-code {
		right: 0px;
	}

	.note-document {
		right: 25px;
	}

	.far {
		background-color: #ffffff;
		border-radius: 50%;
		padding: 2px;
	}

	.fa-stop-circle {
		color: #ff1c69;
	}

	.fa-play-circle {
		color: #00e396;
	}
	.fa-check-circle {
		color: #008ffb;
	}

	.fa-dot-circle, .fa-circle {
		color: #aaaaaa;
	}

}

.modal {
	line-height: 150%;

	ul li {
		line-height: 150%;
	}

	.modal-body {
		pre {
			line-height: 0;
			overflow: hidden;

			code {
				line-height: 150%;
			}
		}
	}

}

.info-wrapper {
	&.row {
		margin: 0;

		> .col-sm-4 {
			padding: 0;
			margin: 0;
		}

		.col-sm-12 {
			padding-bottom: 15px;
		}
	}
}

.form-control {
	border-radius: 2px !important;
}

@import "dashboard";
@import "datatable";
@import "menu";
@import "tab";
@import "toggle";
@import "setting-page";
@import "background";
@import "radio-checkbox";