vendor
composer.phar
composer.lock
phpunit.phar
phpunit.log
tests/report
.DS_Store
.php_cs.cache
.hg
.git
.vscode
tmp
clover.xml
.phpunit.result.cache
bin/*.log
test.sh
assets/node_modules
assets/package-lock.json
assets/v8-compile-cache-0
assets/npm*
assets/mix-manifest.json
assets/_webpack.config.js