<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="tests/bootstrap.php" stderr="true" processIsolation="true" colors="true" beStrictAboutTestsThatDoNotTestAnything="false">
    <testsuites>
        <testsuite name="Shieldon Test Suite">
            <directory>tests/Shieldon/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src/Shieldon/</directory>
        </whitelist>
    </filter>
    <php>
        <ini name="date.timezone" value="UTC"/>
        <const name="PHPUNIT_TEST" value="TRUE"/>
    </php>
    <logging>
        <log type="coverage-clover" target="clover.xml"/>
        <log type="coverage-html" target="tests/report" charset="UTF-8"/>
    </logging>
</phpunit>