<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="tests/bootstrap.php" stderr="true" processIsolation="true" colors="true" beStrictAboutTestsThatDoNotTestAnything="false">
    <testsuites>
        <testsuite name="Shieldon Firewall Test Suite">
            <directory>tests/Firewall/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src/Firewall/</directory>
            <exclude>
                <file>src/Firewall/Log/SessionLogger.php</file>
                <file>src/Firewall/Helpers.php</file>
                <directory suffix=".php">src/Firewall/Integration/</directory>
            </exclude>
        </whitelist>
    </filter>
    <php>
        <ini name="date.timezone" value="UTC"/>
        <const name="PHP_UNIT_TEST" value="TRUE"/>
    </php>
    <logging>
        <log type="coverage-clover" target="clover.xml"/>
        <log type="coverage-html" target="tests/report"/>
    </logging>
</phpunit>