body {
	background-color: #f1f1f1;
	font-size: 13px;
	overflow: hidden;
}

body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
	background-color: #eeeeee;
}

body::-webkit-scrollbar
{
	width: 18px;
	background-color: #dddddd;
}

body::-webkit-scrollbar-thumb
{
	background-color: #999999;	
	background-image: -webkit-linear-gradient(45deg,
		rgba(255, 255, 255, .2) 25%,
		transparent 25%,
		transparent 50%,
		rgba(255, 255, 255, .2) 50%,
		rgba(255, 255, 255, .2) 75%,
		transparent 75%,
		transparent
	);
}

.shieldon-info-bar {
	clear: both;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #ffffff;

	.version-info {
		margin-right: 20px;
		padding: 10px;
		background-color: rgba(255, 255, 255, 0);
	}

	.logo-info {
		img {
			height: 60px;
		}
	}

	a {
		text-decoration: none;
		margin-right: 10px;
	}
}

.navbar-dark {
	background-color: #Ffffff;
}

.navbar-brand {
	padding: 0;
}

.status-field {
	background-color: rgba(0, 0, 0, 0.05);
	padding: 3px 5px;
	font-weight: normal;
	border-top: 1px #ddd solid;
	border-left: 1px #ddd solid;
	border-right: 1px #eee solid;
	border-bottom: 1px #eee solid;
}

code.tips {
	border-left: 5px #dddddd solid;
	border-radius: 3px;
	margin-top: 10px;
	display: inline-block;
	overflow: hidden;
	background-color: #ffffff;
	padding: 10px;
}

.so-datatable-heading {
	margin: 20px 0 20px;
	font-weight: bold;
	border-left: 5px #00b38a solid;
	padding-left: 15px;
	margin-left: -20px;
	font-size: 24px;

	.heading-right {
		font-size: 13px;
		float: right;
		font-weight: normal;
		margin-top: 8px;

		span {
			color: #aaaaaa;
			padding: 3px 5px;
		}

		strong {
			font-weight: bold;
			padding: 3px 8px;
			background-color: #fafafa;
			border: 1px #dddddd solid;
			border-top: 1px #cccccc solid;
			border-left: 1px #cccccc solid;
			font-weight: normal;
			border-radius: 3px;
		}

		ul {
			list-style: none;
		}

		li {
			float: left;
			margin-left: 16px;
		}
	}
}

.so-datatable-description {
	font-size: 13px;
	font-weight: normal;
	color: #91b4a8;
	margin-bottom: 20px;
}

.merged-field {
	border-left: 1px #ffffff solid;
	border-bottom: 0 !important;
	font-size: 12px !important;
	font-weight: 400 !important;
	text-align: center;
}

.so-timezone {
	padding: 10px;
	text-align: right;
	font-size: 12px;
	color: #999999;
}

.so-content {
	padding: 0;
	border-top: 1px #dddddd solid;
	border-left: 1px #f1f1f1 solid;
	height: calc(100vh -45px);
	overflow-y: auto;
}

.mode-info {
	float: right;
	margin-right: 10px;

	ul {
		list-style: none;
		padding: 0;
		margin: 0;

		li {
			float: left;
			margin-right: 10px;
		}
	}
}

.so-dashboard {
	.col-sm-4, .col-sm-3 {
		padding-bottom: 20px;
	}

	&.data-circle {
		.filter-status {
			border: 0px #dddddd solid;

			.heading {
				color: rgb(55, 61, 63);
				font-size: 15px;
				font-weight: bold;
			}
		}
	}
}

.filter-status {
	position: relative;
	text-align: center;
	border-top: 3px #cccccc solid;
	border-left: 2px #dddddd solid;
	border-right: 1px #eeeeee solid;
	border-bottom: 1px #eeeeee solid;
	background: rgba(255, 255, 255, 1);
	background-image: radial-gradient(#ddd 1%, transparent 15%);
	background-size: 8px 8px;
	padding: 10px;
	height: 100%;

	&.info-box {

		table {
			background-color: #ffffff;
			margin-top: 10px;
			
			td {
				text-align: left;
			}
		}
	}

	.heading {
		color: rgb(55, 61, 63);
		font-size: 18px;
		font-weight: bold;
	}

	.nums {
		font-size: 38px;
		font-weight: bold;
		color: #222222;
	}

	.note {
		color: #888888;
		padding: 3px 5px;
		font-style: italic;
		align-self: flex-end;
	}

	.note-code, .note-document {
		position: absolute;
		top: 0;
		display: inline-block;
		height: 25px;
		line-height: 25px;
		text-align: center;
		font-size: 15px;
		cursor: pointer;
		color: #777777;
		background: none;
		border: 0;
		overflow: hidden;

		&:hover {
			color: #000;
		}
	}

	.note-code {
		right: 0px;
	}

	.note-document {
		right: 25px;
	}

	.far {
		background-color: #ffffff;
		border-radius: 50%;
		padding: 2px;
	}

	.fa-stop-circle {
		color: #ff1c69;
	}

	.fa-play-circle {
		color: #00e396;
	}
	.fa-check-circle {
		color: #008ffb;
	}

	.fa-dot-circle, .fa-circle {
		color: #aaaaaa;
	}

}

.modal {
	line-height: 150%;

	ul li {
		line-height: 150%;
	}

	.modal-body {
		pre {
			line-height: 0;
			overflow: hidden;

			code {
				line-height: 150%;
			}
		}
	}

}

.info-wrapper {
	&.row {
		margin: 0;

		> .col-sm-4 {
			padding: 0;
			margin: 0;
		}

		.col-sm-12 {
			padding-bottom: 15px;
		}
	}
}

.form-control {
	border-radius: 2px !important;
}

.logo-image {
	height: 35px;
	margin: 5px;
}
.navbar-brand {
	padding: 0;
}
.navbar {
	padding: 0;

	.dropdown-menu {
		top: 37px;
		border-radius: 0;
		font-size: 13px;
	}
}

.nav-item {
	margin-right: 10px;
	margin-left: 10px;

	strong {
		color: #000;
		font-weight: 500;
	}

	.f-icon {
		margin: 0 3px;
		color: #777;

		&:hover {
			color: rgb(12, 74, 78);
		}
	}
}

.nav-link {
	padding: 0 !important;
	color: #333 !important;
}


.iptables-form {
	span.seperate {
		font-weight: bold; 
		font-size: 18px
	}

    border-top: 3px #cccccc solid;
    border-left: 2px #dddddd solid;
    border-right: 1px #eeeeee solid;
    border-bottom: 1px #eeeeee solid;
    background: #fff;
    background-image: radial-gradient(#dddddd 1%,rgba(0,0,0,0) 15%);
    background-size: 8px 8px;
    padding: 20px;
}

#import-export {
	padding: 10px;
	margin: 40px;
	border-top: 1px #dddddd solid;

	ul, li {
		padding: 0;
		margin: 0;
		list-style-type: none;
	}

	li {
		float: left;
	}

	a {
		display: inline-block;
		overflow: hidden;
		color: #333;
		border: 1px #dddddd solid;
		margin: 5px;
		background-color: #ffffff;
		text-decoration: none;

		&:hover {
			background-color: #00b38a;
			color: #fff;

			i {
				color: #fff;
			}
		}

		i {
			margin-right: 5px;
			color: #00b38a;
		}
	}
}