.so-setting-page {
    font-family: Helvetica, Arial, sans-serif !important;
	background-color: #f1f1f1;
	border: 0px #dddddd solid;
	padding: 10px;
    overflow: hidden;
    
    .section-title {
        position: relative;
        background-color: #ffffff;
        height: 50px;
        width: 100%;
        border: 1px #dddddd solid;

        h2 {
            line-height: 50px;
            font-size: 16px;
            padding: 0 10px;
            padding-left: 20px;
            color: #555;
        }

        &.sm {

            height: 40px;
            width: 100%;
            
            border: 1px #dddddd solid;
    
            h3 {
                line-height: 40px;
                padding: 0 10px;
                padding-left: 20px;
                font-size: 15px;
                font-family: "Lato", sans-serif;
                font-weight: bold;
                color: #333;
            }
        }
    }

    .toggle-container {
        position: absolute;
        top: -2px;
        right: 10px;
        display: inline-block;

        &.toggle-sm {
            top: 0;
        }
    }

    .section-body {
        background-color: #eeeeee;
        padding: 20px;
        border: 1px #dddddd solid;
        border-top: 0;
        margin-bottom: 20px;
        box-shadow: 0px 3px 3px -3px rgba(0, 0, 0, 0.1);

        &.sm {
            background-color: #fafafa;
        }
    }

    label {
        font-weight: bold;
        color: #666;
    }

    p {
        font-size: 13px;
        color: #777;
    }

    .setting-table {
        width: 100%;

        .r1 {
            width: 200px;
            font-weight: 600;
            color: #444;
            padding: 5px;
        }
        .r2 {
            width: calc(100% - 200px);
            padding: 5px;
        }
    }

}



.btn-enter {
	display: inline-block;
	padding: 3px 30px 5px 20px;
	margin: 0.5em;
	cursor: pointer;
	color: #ffffff;
	border-radius: 0.25em;
	background-color: #00b38a;
	box-shadow: 0 3px 10px rgba(0,0,0,0.2), inset 0 -3px 0 rgba(0,0,0,0.22);
	transition: 0.3s;
	user-select: none;
    font-size: 24px;
    line-height: 40px;

	&:hover {
		background: darken(#00b38a, 10%);
		color: darken(#ffffff, 10%);
		box-shadow: 0 3px 10px rgba(0,0,0,0.2), inset 0 -3px 0 rgba(0,0,0,0.32);
	}
	&:active {
		transform: translateY(2px);
		box-shadow: 0 3px 10px rgba(0,0,0,0.2), inset 0px -1px 0 rgba(0,0,0,0.22); 
    }
    
}