.footer {
    background-color: #ccc;
    color: #fff;

    .col-md-12 {
        background-color: rgba(0, 0, 0, 0.03);
        color: #333;
        height: 30px;
        line-height: 30px;
        font-size: 12px;

        a {
            color: #000;
            font-weight: 500;
        }
    } 

    .status-field {
        background-color: #333;
        color: #fff;
    }

    @include media-breakpoint-down(md) {
        .col-md-12 {
           height: auto;
           line-height: 150%;
           padding: 10px;

           span {
               display: block;
               padding-bottom: 5px;
           }
        }
    }
}